Repository OleksandrKucherenko/e-bash: changes, and which Codecov flags are due for each by the changed paths.
All: Utility Scripts, Binary Scripts

fix: remove hardcoded test counts from CI validation logic
  .github/workflows/shellspec.yaml
Due: none

docs: investigate kcov coverage capture for all spec files
  KCOV_COVERAGE_INVESTIGATION.md
Due: none

feat: add test results reporting to Codecov
  .github/workflows/shellspec.yaml
  .shellspec
Due: none

fix: resolve shellspec junit_tests_0 unbound variable error
  bin/git.semantic-version.sh
  docs/shellspec.md
  spec/git_semantic_version_spec.sh
Due: Binary Scripts

docs: add Claude AI context file and reorganize documentation
  CLAUDE.md
  docs/COVERAGE_ANALYSIS.md
  docs/KCOV_COVERAGE_INVESTIGATION.md
  docs/TMUX_PATTERN_ANALYSIS.md
Due: none

fix: handle empty tag list in get_commit_from_n_versions_back
  bin/git.semantic-version.sh
  spec/git_semantic_version_spec.sh
Due: Binary Scripts

feat: add git semantic version calculator script (#20)
  .github/workflows/shellspec.yaml
  .scripts/_tmux.sh
  .shellspec
  .shellspec-minimal
  CLAUDE.md
  README.md
  bin/git.graph.sh
  bin/git.semantic-version.sh
  codecov.yml
  docs/COVERAGE_ANALYSIS.md
  docs/KCOV_COVERAGE_INVESTIGATION.md
  docs/TMUX_PATTERN_ANALYSIS.md
  docs/shellspec.md
  spec/git_semantic_version_spec.sh
Due: Utility Scripts, Binary Scripts

fix: resolve 'unknown' code coverage status for master branch
  .github/workflows/shellspec.yaml
  .scripts/generate-coverage.sh
  COVERAGE_FIX.md
  codecov.yml
Due: Utility Scripts

cleanup: remove temporary documentation file
  COVERAGE_FIX.md
Due: none

refactor: move generate-coverage.sh from .scripts to bin folder
  bin/generate-coverage.sh
Due: Binary Scripts

remove: unnecessary generate-coverage.sh script
  bin/generate-coverage.sh
Due: Binary Scripts

Fix/coverage unknown status (#21)
  .github/workflows/shellspec.yaml
  codecov.yml
Due: none

Fix and optimize Codecov configuration
  codecov.yml
Due: none

Fix coverage range syntax from three dots to two dots
  codecov.yml
Due: none

Fix and optimize Codecov configuration (#22)
  codecov.yml
Due: none

feat: add mise tool support to e-bash install script
  bin/install.e-bash.sh
  spec/installation_spec.sh
Due: Binary Scripts

feat: enhance mise.toml support with [env] and [[env]] detection
  bin/install.e-bash.sh
  spec/installation_spec.sh
Due: Binary Scripts

fix: properly insert E_BASH into existing [env] section
  bin/install.e-bash.sh
  spec/installation_spec.sh
Due: Binary Scripts

wip: small updates in documentation
  .envrc
  README.md
  codecov.yml
Due: none

fix: remove invalid 'local' keyword before function definition
  bin/install.e-bash.sh
Due: Binary Scripts

fix: correct regex pattern to match both [env] and [[env]]
  bin/install.e-bash.sh
Due: Binary Scripts

fix: AWK command was printing duplicate line numbers
  bin/install.e-bash.sh
Due: Binary Scripts

feat: add failed tests summary at end of CI runs
  .github/workflows/shellspec.yaml
Due: none

fix: ensure CI fails when shellspec tests fail by using PIPESTATUS
  .github/workflows/shellspec.yaml
Due: none

fix: properly remove empty [[env]] sections during mise.toml cleanup
  bin/install.e-bash.sh
Due: Binary Scripts

fix: replace infinite loop with awk for mise.toml cleanup
  bin/install.e-bash.sh
Due: Binary Scripts

fix: resolve mise tool integration issues
  bin/install.e-bash.sh
Due: Binary Scripts

wip: partly fixed tests
  bin/install.e-bash.sh
  spec/installation_spec.sh
Due: Binary Scripts

fix: replace complex awk script with simpler approach for mise.toml cleanup
  bin/install.e-bash.sh
Due: Binary Scripts

fix: replace sed alternation with AWK for BSD/GNU portability
  bin/install.e-bash.sh
Due: Binary Scripts

wip: dry run implementation
  .scripts/_commons.sh
  .scripts/_dryrun.sh
  demos/demo.dryrun.v2.sh
  docs/dryrun-wrapper.md
Due: Utility Scripts

wip: dry run undo mode
  .scripts/_dryrun.sh
  README.md
  demos/demo.dryrun.modes.sh
  docs/dryrun-wrapper.md
Due: Utility Scripts

wip: shellspec findings
  docs/agents/ShellSpec-Claude-Research.md
  docs/agents/ShellSpec-Gemini-Research.md
  docs/agents/ShellSpec-Grok-Research.md
  docs/agents/ShellSpec-OpenAi-Research.md
  docs/agents/ShellSpec-Perplexity-Research.md
  docs/agents/ShellSpec-Z.ai-Research.md
Due: none

feat: add Homebrew cache to CI workflows
  .github/workflows/shellspec.yaml
Due: none

fix: use glob pattern for hashFiles in cache key
  .github/workflows/shellspec.yaml
Due: none

fix: use static versioned cache key instead of hashFiles
  .github/workflows/shellspec.yaml
Due: none

refactor: use dynamic Homebrew path detection for CI cache
  .github/workflows/shellspec.yaml
Due: none

fix: use content hash for cache key to avoid conflicts
  .github/workflows/shellspec.yaml
Due: none

refactor: unify Homebrew path detection with separate cache dirs
  .github/workflows/shellspec.yaml
Due: none

Path conditions:
  Utility Scripts: any of: .scripts/**/*.sh, but not: spec/**/*, demos/**/*, .shellspec, coverage/**/*
  Binary Scripts: any of: bin/**/*.sh, but not: spec/**/*, demos/**/*, .shellspec, coverage/**/*
